body {
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 218px;
    width: 100%;
    min-width: 320px;
    box-sizing: border-box;
    padding-left: 135px;
    padding-right: 135px;
    margin: 0 auto;
}

header h1 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 1px;
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.nav-tem {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
}

.nav-tem:hover {
    color: #FF7931;
}

.new {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    min-height: 464px;
    background: url("../img/hotel.png") no-repeat;
    background-position: center;
    color: #ffffff;
    position: relative;
}

.new h2 {
    font-size: 72px;
    line-height: 84px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 100px;
}

.new h2::before {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 48%;
    top: 46px;
    content: "";
    background-image: url("../img/icons/hotel-icon.svg");
}

.new::after {
    display: none;
    position: absolute;
    top: 0;
    left: 135px;
    width: 117px;
    height: 19px;
    padding-top: 6px;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 2px;
    background-color: #FF7931;
    content: "новое";
    text-align: center;
    text-transform: uppercase;
}

.new:hover::after {
    display: inline-block;
}

.new-text {
    display: inline-block;
    max-width: 456px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}

.reviews {
    min-height: 463px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.reviews-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.review-item {
    max-width: 370px;
    margin-bottom: 20px;
}

.review-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.review-item-header {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
}

.review-item-header a {
    text-decoration: none;
    color: #000000;
}

.review-item-header:hover a {
    color: #FF7931;
    cursor: pointer;
}

.review-item-description {
    font-size: 14px;
    line-height: 21px;
}

section h2 {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.advantages {
    min-height: 556px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 13px;
    width: 100%;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 45%, rgba(247,247,247,1) 45%, rgba(247,247,247,1) 100%);
    margin-bottom: 50px;
    ;
}

.advantages-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    max-width: 370px;
    min-height: 360px;
}

.advantage-header {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
    margin: 0;
    margin-bottom: 10px;
}

.advantage-description {
    font-size: 14px;
    line-height: 21px;
}

.advantages-link {
    display: inline-block;
    width: 170px;
    height: 47px;
    font-weight: 700;
    background-color: #FF7931;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    padding: 17px;
    box-sizing: border-box;
    margin-bottom: 35px;
}

.advantages-link::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    background-image: url("../img/icons/arrow.svg");
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #575757;
    min-height: 295px;
    color: #ffffff;
    box-sizing: border-box;
    padding-left: 135px;
    padding-right: 135px;
    margin: 0 auto;
}

footer .nav-tem {
    color: #ffffff;
}

footer h2 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 1px;
}

footer hr {
    width: 100%;
    opacity: 0.4;
}

.social {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.social-button {
    width: 47px;
    height: 47px;
    background-color: #ffffff;
    margin-right: 15px;
}

.social-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
}
