body {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 218px;
    width: 1440px;
    box-sizing: border-box;
    padding-left: 135px;
    padding-right: 135px;

    border: 1px solid tomato;
}

.main_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}