body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 218px;
    width: 1440px;
    box-sizing: border-box;
    padding-left: 135px;
    padding-right: 135px;
}

header h1 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 1px;
}

.main_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.nav_item {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
}

.nav_item:hover {
    color: #FF7931;
}

.new {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 464px;
    background: url("../img/hotel.png") no-repeat;
    color: #ffffff;
    position: relative;
}

.new h2 {
    font-size: 72px;
    line-height: 84px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 100px;
}

.new h2::before {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 693px;
    top: 46px;
    content: "";
    background-image: url("../img/icons/hotel-icon.svg");
}

.new::after {
    display: none;
    position: absolute;
    top: 0;
    left: 135px;
    width: 117px;
    height: 19px;
    padding-top: 6px;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 2px;
    background-color: #FF7931;
    content: "новое";
    text-align: center;
    text-transform: uppercase;
}

.new:hover::after {
    display: inline-block;
}

.new_text {
    display: inline-block;
    max-width: 456px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}